<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Vocacional</title>
    <link rel="stylesheet" href="../static/css/inicial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="container">
            <a class="navbar" href="/">Início</a>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="main-content">
            <div class="text-content">
                <h1>PathFinder</h1>
                <p>
                    Descubra suas habilidades, interesses e paixões com nosso teste vocacional. 
                    Ele ajuda você a explorar carreiras que combinam com seus talentos e objetivos, 
                    proporcionando um guia valioso para decisões futuras.
                </p>
                <p>
                    Fazer um teste vocacional pode ser o primeiro passo para identificar suas áreas de interesse e aptidões. 
                    Ele permite que você reflita sobre o que realmente gosta de fazer e onde pode se destacar. 
                    Além disso, é uma ferramenta essencial para tomar decisões mais informadas sobre sua trajetória educacional e profissional. 
                    Com base em suas respostas, você pode explorar caminhos de carreira que talvez não tenha considerado antes. 
                    Aproveite esta oportunidade para investir no seu futuro e alcançar uma vida profissional mais satisfatória!
                </p>
                <div class="btn-container">
                    <a href="/questionario" class="btn btn-primary">Iniciar Teste</a>
                </div>                
            </div>
            <div class="image-content">
                <img src="../static/img/imginicio.webp" alt="Teste Vocacional">
            </div>
        </div>
    </div>
    <footer>
        <div class="text-footer">
            <p>&copy; 2024 Teste Vocacional. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
