<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste Vocacional</title>
  <link rel="stylesheet" href="../static/css/questionario.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <img src="../static/img/interrogacao.png" alt="Interrogação">
      <form action="/resultado" method="POST">
        {% for idx, (pergunta, opcoes) in perguntas %}
        <div class="formbold-mb-5">
          <label for="pergunta_{{ idx }}" class="formbold-form-label">
            {{ pergunta }}
          </label>
          <div class="formbold-radio-flex">
            {% for opcao, valor in opcoes %}
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                {{ opcao }} ({{ valor }})
              </label>
            </div>
            {% endfor %}
          </div>
          <!-- Campo para digitar a resposta -->
          <input 
            class="formbold-input" 
            type="text" 
            name="pergunta_{{ idx }}" 
            placeholder="Digite 1, 2 ou 3"
            pattern="[1-3]" 
            required
          />
        </div>
        {% endfor %}
        <button class="formbold-btn" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</body>
</html>
