<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Vocacional</title>
  <link rel="stylesheet" href="../static/css/questionario.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="denis.css"> </head> </head>
<body>
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <img src="../static/img/interrogacao.png">
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="formbold-input-flex">
          <label for="qusOne" class="formbold-form-label"></label>
        </div>
  
        <div class="formbold-mb-5">
          <label for="qusOne" class="formbold-form-label">
            O que você gostaria de ser na vida?
          </label>
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                1) Desempregado
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                2) Empresário
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                3) PG
              </label>
            </div>
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                4) Nenhum das opções acima
              </label> 
            </div>
          </div>
          <label for="resposta">Resposta:</label>
          <input type="text" id="resposta" name="resposta">
        </div> 
        <div class="formbold-mb-5">
          <label for="qusOne" class="formbold-form-label">
            O que você gostaria de ser na vida?
          </label>
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                1) Desempregado
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                2) Empresário
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                3) PG
              </label>
            </div>
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                4) Nenhum das opções acima
              </label> 
            </div>
          </div>
          <label for="resposta">Resposta:</label>
          <input type="text" id="resposta" name="resposta">
        </div>
  
        <div class="formbold-mb-5">
          <label for="qusOne" class="formbold-form-label">
            O que você gostaria de ser na vida?
          </label>
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                1) Desempregado
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                2) Empresário
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                3) PG
              </label>
            </div>
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                4) Nenhum das opções acima
              </label> 
            </div>
          </div>
          <label for="resposta">Resposta:</label>
          <input type="text" id="resposta" name="resposta">
        </div>
  
        <button class="formbold-btn">Enviar</button>
      </form>
    </div>
  </div>
  <style>
  </style>
</body>
</html>